footer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

footer ul a {
    text-decoration: none;
    color: black;
}

footer ul a:hover {
    text-decoration: underline;
    color: crimson;
}