footer {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(173, 216, 230);
    position: sticky;
    bottom: 0;
    left: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footerUL {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    list-style-type: none;
}

.footerUL a {
    text-decoration: none;
    color: black;
}

.footerUL a:hover {
    text-decoration: underline;
    color: #03C988;
}