form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input[type=text],
input[type=number],
input[type=email],
input[type=submit] {
    width: 200px;
}

.pending {
    display: none;
}