header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

header a {
    text-decoration: none;
    color: #13005A;
}

header a:hover {
    text-decoration: underline;
}